    <section class="categories-container">
        <nav class="categories-nav">
            <ul class="categories-list">
                <li onclick="window.location.href='/categories/mates'"><i class="fas fa-whiskey-glass"></i><span>Mates</span></li>
                <li onclick="window.location.href='/categories/vasos'"><i class="fas fa-beer"></i><span>Vasos</span></li>
                <li onclick="window.location.href='/categories/llaveros'"><i class="fas fa-key"></i><span>Llaveros</span></li>
                <li onclick="window.location.href='/categories/soportes'"><i class="fas fa-crop-simple"></i><span>Soportes</span></li>
                <li onclick="window.location.href='/categories/premios'"><i class="fas fa-trophy"></i><span>Premios</span></li>
                <li onclick="window.location.href='/categories/munecos'"><i class="fas fa-snowman"></i><span>Muñecos</span></li>
                <li onclick="window.location.href='/categories/lamparas'"><i class="fa-regular fa-lightbulb"></i><span>Lámparas</span></li>
                <li class="last-item" onclick="window.location.href='/categories/otros'"><i class="fas fa-gift"></i><span>Otros</span></li>
            </ul>
        </nav>
    </section>