<!-- PANEL DESPLEGABLE -->
<div id="panelProducto" class="panel-producto">
    <div class="panel-contenido">

        <button class="panel-close" onclick="cerrarPanel()">✕</button>

        <div class="panel-info-row">
            <div class="panel-izquierda">
                <div class="panel-galeria">
                    <div class="slider-container">
                        <img id="panelImagen" src="" alt="" class="panel-img-principal" onerror="this.onerror=null; this.src='/img/no-image.png'">
                    </div>
                </div>
            </div>

            <div class="panel-derecha">
                <p id="panelCategoria" class="panel-categoria"></p>
                <h2 id="panelNombre"></h2>
                <p id="panelPuntos" class="panel-puntos"></p>
                <p id="panelDescripcion" class="panel-descripcion"></p>
                <hr class="panel-divisor">
                <a id="panelDetalleLink" href="#" class="panel-detalle-link">Ver detalles completos y ficha técnica &rarr;</a>
                
                <div class="panel-acciones">
                    <div class="cantidad-selector">
                        <button class="btn-cantidad" onclick="cambiarCantidadPanel(-1)">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input type="text" id="panelCantidad" value="1" readonly>
                        <button class="btn-cantidad" onclick="cambiarCantidadPanel(1)">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <button class="btn-carrito" id="btnAgregarCarrito" onclick="agregarAlCarrito()">
                        AGREGAR AL CARRITO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
