<article class="product-card">
    <div class="product-image">
        <img src="/img/<%= producto.imagen %>" alt="<%= producto.nombre %>">
    </div>
    <div class="product-info">
        <h4 class="product-name"><%= producto.nombre %></h4>
        <div class="product-footer">
            <p class="product-price">$<%= producto.precio %></p>
        </div>
    </div>
</article>