body {
    background-color: #f0f0f0; 
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 'vh' significa Viewport Height (altura de la pantalla) */
    margin: 0;
}

/*CATEGORIAS*/
.categories-nav {
    display: flex;
    justify-content: center; /* Centra la barra en la pantalla */
    margin: 40px 0; /* Espacio arriba y abajo */
}

.categories-list {
    background-color: #333; /* El color gris oscuro/negro */
    display: flex;
    list-style: none;
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados de la barra completa */
    width: 90%;
    max-width: 1100px;
}

.categories-list li {
    flex: 1; /* Todos ocupan el mismo ancho */
    display: flex;
    flex-direction: column; /* Icono arriba, texto abajo */
    align-items: center;
    color: white;
    gap: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.3); /* La línea separadora */
    cursor: pointer;
}

/* Quitamos la línea al último elemento para que no quede sobrando */
.categories-list li:last-child {
    border-right: none;
}

.categories-list li i {
    font-size: 24px; /* Tamaño del icono */
}

.categories-list li span {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.categories-list li:hover {
    color: #1abc9c; /* Cambia a turquesa cuando pasas el mouse */
    transition: 0.3s;
}

/*NOVEDADES E INGRESOS*/
.banner-section {
    background-color: #1abc9c; /* El turquesa de fondo */
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.banner-container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 20px; /* Espacio entre las dos tarjetas */
}

.banner-card1 ,
.banner-card2 {
    flex: 1;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end; /* Empuja el texto hacia abajo */
    /* Configuración para que la imagen ocupe todo el fondo */
    background-size: cover;      /* Cubre todo sin estirarse */
    background-position: center; /* Centra la foto */
    background-repeat: no-repeat;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* Una sombrita para que resalte */
}

.banner-card1{
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), transparent), 
                      url('/img/novedades.jpeg');

}

.banner-card2 {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), transparent), 
                      url('/img/ingresos.jpeg');
}

.banner-content {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: white;
    gap: 15px;
}

.banner-logo {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-logo img {
    width: 100%;
}

.banner-text h3 {
    font-size: 17px;
    margin-bottom: -5px;
    font-weight: 600;
}

.banner-text p {
    font-size: 13px;
    font-weight: 300;
     margin-bottom: -5px;
}

/*PRODUCTOS*/
.products-section h2{
    text-align: left;
    margin: 30px 0px 10px 60px;
    font-weight: 600; 
    font-size: 25px;
    color:#1abc9c;

}
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 20px 30px;
    padding: 20px 60px 20px 60px;
}

.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 270px
}

.product-card:hover {
    transform: translateY(-5px); /* Efecto de que "flota" al pasar el mouse */
}

.product-image {
    display: flex;         /* Activamos Flexbox */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center;     /* Centramos verticalmente (opcional) */
    height: 180px;         /* Dale una altura fija para que todas queden iguales */
    overflow: hidden;      /* Por seguridad */
    padding: 10px;
}

.product-image img {
    /* Ya no necesitamos width: 100% porque Flexbox la acomoda */
    max-height: 100%;      /* Que no se pase de la altura del contenedor */
    max-width: 100%;       /* Que no se pase del ancho del contenedor */
    object-fit: contain;   /* Mantiene la proporción sin deformar */
}

.product-info {
    padding: 15px;
    border-top: 1px solid #eee;
}