<%- include('../partials/header') %>
<main>
    <section class="checkout-container">
        <h1>Checkout</h1>
        <p>Esta es la página de checkout. Aquí puedes revisar tu carrito y proceder al pago.</p>
    </section>

<%- include('../partials/footer') %>