<%- include('../partials/header') %>
<main>
    <section class="checkout-container">
        <h1>Checkout</h1> 
        <div class="checkout-content-middle"> <p>Ups... No hay nada por aqui.</p>
            <p>Esto estara disponible en el proximo sprint.</p>
            <p>No te lo pierdas!</p>
            
            <div class="checkout-actions">
                <a href="/" class="btn-volver">Volver al inicio</a>
                <a href="/cart" class="btn-carrito">Ir al carrito</a>
            </div>
        </div>
    </section>
</main>
<%- include('../partials/footer') %>