<link rel="stylesheet" href="/styles.css">

<%- include('../partials/header') %>

<main class="register-container">
    <div class="top-banner"></div>

    <div class="register-wrapper">
        
        <section class="register-card">
            <h1>¡Registrate!</h1>
            
            <form action="/register" method="POST" class="register-form" id="registerForm" novalidate>
                <div class="form-group">   
                    <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
                    <small class="error-msg" id="error-nombre"></small>
                </div>
                <div class="form-group">   
                    <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>
                    <small class="error-msg" id="error-apellido"></small>
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Tu mail" required>
                    <small class="error-msg" id="error-email"></small>
                </div>

                <div class="form-group password-container">
                    <input type="password" id="password" name="password" placeholder="Tu nueva contraseña">
                    <button type="button" id="togglePassword" class="btn-eye">
                        👁️
                    </button>
                    <small class="error-msg" id="error-password"></small>
                </div>

            
                <button type="submit" class="btn-submit">Crear cuenta</button>
            </form>
        </section> 
        
        <p class="bottom-text">
            ¿Ya tienes cuenta? <a href="/login">Inicia sesión</a>
        </p>

    </div>
    <script src="/js/registerValidation.js"></script>
</main>

(<%- include('../partials/footer') %>