/* estilos basicos para no repetirlos en todos los archivos css */ 

:root {
    --color-fondo: #f0f0f0;
    --color-turquesa: #1abc9c;
    --color-blanco: #f8f8f8;
    --color-rojo: #e74c3c;
    --color-gris: #4a4d4e;
}

html {
    overflow-y: scroll; /* Fuerza la barra de scroll para evitar saltos horizontales */
}

body {
    background-color: var(--color-fondo); 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* Esto hace que el contenedor principal crezca y empuje al footer abajo */
    display: flex;
    flex-direction: column;
}

/* ==================== PAGE LAYOUT GENERAL ==================== */
.page-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.page-header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}